<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deep Fake Detection Project</title>
  <link rel="stylesheet" href="first.css">
</head>
<body>
  <div class="container">
    <video autoplay muted loop class="background-video">
      <source src="AdobeStock_354595783_Video_HD_Preview (online-video-cutter.com).mp4" type="video/mp4">
    </video>
    <div class="overlay">
      <h1 class="title with-spotlight">Deep Fake Detection</h1>
      <a href="secondpage.html" class="learn-more">Learn More</a>
    </div>
  </div>
</body>
</html>
