<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deepfake Detection Tool</title>
  <link rel="stylesheet" href="second.css">
</head>
<body>
  <main>
   
    <h2 style="margin-left: -500px; margin-top: 80px;">Select your media type for analysis:</h2>
    <div class="upload-options">
      <button id="image-upload-button"  style="padding: 13px; background-color: green; color: white; border-radius: 50px; margin-left:250px;">Image Upload</button>
      <button id="video-upload-button " style="padding: 13px; background-color: green; color: white; border-radius: 50px ; margin-left: 50px; margin-top: 50px;">Video Upload</button>
    </div>
  </main>
  <section class="background">
    <img src="C:\Users\HARSHITHA\OneDrive\Pictures\secondbackground.jpg" alt="Deepfake Detection Background">
  </section>
</body>
</html>
